.card-button {
    -fx-padding: 5px;
    -fx-background-radius: 10;
    -fx-border-color: #333;
    -fx-border-width: 2px;
}

.card-button.marked {
    -fx-background-color: #FFD700; /* Color dorado */
    -fx-border-color: #FF0000; /* Borde rojo */
}

#lblTimer {
    -fx-font-size: 24px;
    -fx-text-fill: red; /* Cambia el color del temporizador */
}

